body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgba(231,231,231,255);
    
}

@media (max-width:700px) {
    header {
        flex-direction: column;
    }

    nav {
        padding: 10px 0px;
    }

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.preload {

    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -42px 0 0 -12px;
    background: #dc030f;
    transform: rotate(45deg);
    animation: spin 1s infinite linear;
    z-index: 10;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

.cover {
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(231,231,231,255);
    z-index: 9;
    position: absolute;
}

  
  
